# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask specific
instance/
.webassets-cache

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Environment variables
.env
*.env

# Procfile
Procfile
